<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<title layout:fragment="title">Agelgil Client</title>
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<link rel="stylesheet" th:href="@{/static/res/client/libs/bootstrap/bootstrapo.css}">
		<link rel="stylesheet" th:href="@{/static/res/client/libs/bootstrap/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/static/res/lib/fontawesome/css/all.css}">
		<link rel="stylesheet" th:href="@{/static/res/lib/css/local.css}">
		<link rel="stylesheet" th:href="@{/static/res/lib/noUiSlider/nouislider.css}">
	</head>
	<body class="bg-light">
		<header>
			<nav class="navbar navbar-expand-lg navbar-light bg-light py-md-5 px-xl-5">
				<div class="container-fluid">
					<a class="navbar-brand col-lg-2 col-md-4 col-6 p-0" href="/" >
						<img th:src="@{/static/res/client/core/images/logo-horizontal.png}" class="col-10 p-0">
					</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item mr-4" th:each="tab: ${headerTabs}">
								<a class="nav-link" th:href="${tab.url}" th:text="${tab.text}"></a>
							</li>
						</ul>
						<div class="ml-lg-auto d-flex flex-column flex-lg-row mt-5 mt-lg-0">
						
							<div class="d-flex">
								<a class="rounded-circle bg-primary text-light d-flex local-w-3 local-h-3 mx-2 shadow-sm"  data-bs-toggle="modal" data-bs-target="#searchModal">
									<i class="fas fa-search m-auto"></i>
								</a>
								<div class="bg-dark" style="width: 2px;"></div>
								<a class="rounded-circle bg-white text-primary d-flex local-w-3 local-h-3 mx-2 shadow-sm" href="/client/cart/view">
									<i class="fas fa-shopping-cart m-auto"></i>
								</a>

								<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<form class="modal-content" action="/client/hotel/filter/" method="get">
											<div class="modal-header">
												<h5 class="modal-title" id="searchModalLabel">Search</h5>
												<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
											</div>
											<div class="modal-body">
												<input class="form-control" name="name" id="q" placeholder="Search for hotels...">
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
												<button type="submit" class="btn btn-primary">Search</button>
											</div>
										</form>
									</div>
								</div>
							</div>
							
							<div class="d-lg-flex d-block">
								<div class="d-flex flex-column flex-lg-row mt-5 my-lg-auto" th:if="${client}==null">
									<button class="btn btn-light mx-3" data-bs-toggle="modal" data-bs-target="#loginModal">LOGIN</button>
									<button class="btn btn-primary mx-3" data-bs-toggle="modal" data-bs-target="#signUpModal">SIGNUP</button>

									<div class="modal fade" id="loginModal" tabindex="-1" aria-hidden="true">
										<div class="modal-dialog modal-dialog-centered modal-xl">
											<div class="modal-content">
												<div class="modal-body p-0">
													<div class="row">
														<div class="col-4 bg-primary text-light d-lg-flex d-none local-py-7">
															<div class="m-auto col-10">
																<div>
																	<h2 class="font-weight-bold">Welcome Back!</h2>
																	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas error sint modi nostrum porro </p>
																</div>
																<div class="local-mt-6">
																	<p>Don't have an account, yet?</p>
																	<button type="button" class="btn btn-outline-light rounded-pill px-5" data-bs-toggle="modal" data-bs-target="#signUpModal">SIGNUP</button>
																</div>
															</div>
														</div>
														<div class="col-lg-8 col-12 d-flex local-py-7">
															<div class="w-75 m-auto" layout:insert="~{lib/auth/components/login_form}"></div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="modal fade" id="signUpModal" tabindex="-1" aria-hidden="true">
										<div class="modal-dialog modal-dialog-centered modal-xl">
											<div class="modal-content">
												<div class="modal-body p-0">
													<div class="row">
														<div class="col-lg-8 col-12 d-flex local-py-7">

															<div class="w-75 m-auto" layout:insert="~{client/auth/components/signup_form}">

															</div>
														</div>
														<div class="col-4 bg-primary text-light d-lg-flex d-none local-py-7">
															<div class="m-auto col-10">
																<div>
																	<h2 class="font-weight-bold">Hello, Friend!</h2>
																	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas error sint modi nostrum porro </p>
																</div>
																<div class="local-mt-6">
																	<p>Already have an account?</p>
																	<button type="button" class="btn btn-outline-light rounded-pill px-5" data-bs-toggle="modal" data-bs-target="#loginModal">SIGN IN</button>
																</div>
															</div>
														</div>
														
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="" th:unless="${client}==null">
									<div class="bg-primary text-light px-4 py-2 rounded position-relative mx-5 my-auto">
										<span href="#" class="dropdown-toggle" role="button" data-bs-toggle="dropdown"><i class="fa fa-user"></i><span class="ml-3" th:text="${client.fullName}"></span></span>
										<ul class="dropdown-menu">
											<li class="">
												<form action="/logout" method="post">
													<input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
													<input type="submit" value="Logout" class="dropdown-item">
												</form>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</nav>
		</header>
		
		<main layout:fragment="main"></main>
		
		<footer>
			<div class="d-flex flex-lg-row flex-column bg-primary text-light p-5">
				<ul class="nav nav-dark flex-column my-lg-auto my-5">
					<li class="nav-item" th:each="tab: ${footerTabs}">
						<a class="nav-link text-light text-lg-left text-center" th:href="${tab.url}" th:text="${tab.text}"></a>
					</li>
				</ul>
				<div class="col-lg-3 col-md-6 col-sm-9 col-11 mx-auto my-5 my-lg-auto">
					<div class="col-7 p-3 bg-white local-br-2 m-auto">
						<img th:src="@{/static/res/client/core/images/logo-vertical.png}" class="w-100">
					</div>
					<div class="text-center mt-3">
						Copyright &copy; 2021 | Agelgil 
					</div>
				</div>
				<div class="my-lg-auto my-5">
					<h4 class="text-center">Contact</h4>
					<div class="my-lg-5 my-4">
						<div class="d-flex" th:each="info: ${contactInformations}">
							<span class="" th:text="${info.name}"></span>:
							<a th:href="${info.url}" th:text="${info.value}" class="link col-8 text-right text-light ml-auto p-0"></a>
						</div>
					</div>
					<a href="/hotel" class="btn btn-light w-100">AGELGIL FOR HOTELS</a>
				</div>
			</div>
		</footer>
		<script th:src="@{/static/res/lib/js/bootstrap.bundle.min.js}"></script>
		<script th:src="@{/static/frontend/build/static/js/main.594fc32e.js}"></script>

		<div th:remove="tag" layout:fragment="extraJs"></div>
	</body>

</html>
